@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="aType" value="${item.aType}">

            <div class="row">
                <div class="col-sm-6 b-r">
                			<#input id="aName" name="申请事项名称" value="${item.aName}" disabled="disabled" required="true" underline="true"/>
                            <#select id="text" name="申请类型" underline="true" disabled="disabled" required="true" ></#select>
                            <#input id="aDetails" name="申请内容" value="${item.aDetails}" disabled="disabled" required="true" underline="true"/>
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="danger" name="关闭" id="cancel" icon="fa-eraser" clickFun="ApplyInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/property/applyInfo/applyInfo_info.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/plugins/wangEditor/wangEditor.js"></script>
@}
