@layout("/common/_container.html"){
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>排班管理</h5>
			</div>
			<div class="ibox-content">
				<div class="row row-lg">
					<div class="col-sm-12">
						<div class="row">
							<!-- 医院-科室-医生 树列表 -->
							<div class="col-lg-3 col-sm-3">
								<div class="panel panel-default">
									<div class="panel-heading">医院-科室-医生</div>
									<div class="panel-body dept-tree">
										<ul id="showTree" class="ztree"></ul>
									</div>
								</div>
							</div>

							<!-- 搜索栏 -->
							<div class="col-lg-9 col-sm-9">
								<div class="row">
									<div class="col-lg-9 col-sm-9">
										<div class="row">
											<div class="col-lg-4 col-sm-12">
												<#NameCon id="doctorSearch" name="医生名称" placeholder="请输入医生姓名" /> 
											</div>
											<div class="col-lg-4 col-sm-6">
												<#TimeCon id="scheduleDateSearch" name="排班日期" isTime="false" pattern="YYYY-MM-DD"/>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-3">
										<div class="row">
											<div class="col-lg-12 col-sm-12">
												<#button name="搜索" icon="fa-search"
													clickFun="Schedule.search()" />
												<#button name="重置" icon="fa-trash"
													clickFun="Schedule.resetSearch()" space="true" />
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<!-- toolbar -->
										<div class="hidden-xs" id="ScheduleTableToolbar" role="group">
				                            @if(shiro.hasPermission("/schedule/add")){
				                                <#button name="添加" icon="fa-plus" clickFun="Schedule.openAddSchedule()"/>
				                            @}
				                            @if(shiro.hasPermission("/schedule/update")){
				                                <#button name="修改" icon="fa-edit" clickFun="Schedule.openScheduleDetail()" space="true"/>
				                            @}
				                            @if(shiro.hasPermission("/schedule/delete")){
				                                <#button name="删除" icon="fa-remove" clickFun="Schedule.delete()" space="true"/>
				                            @}
				                        </div>
									
									<!-- 排班列表 -->
									<#table id="ScheduleTable" />
									<div class="hidden-xs" id="ScheduleDetailTableToolbar" role="group">
			                            @if(shiro.hasPermission("/scheduleDetail/add")){
			                                <#button name="添加" icon="fa-plus" clickFun="ScheduleDetail.openAddScheduleDetail()"/>
			                            @}
			                            @if(shiro.hasPermission("/scheduleDetail/update")){
			                                <#button name="修改" icon="fa-edit" clickFun="ScheduleDetail.openScheduleDetailDetail()" space="true"/>
			                            @}
			                            @if(shiro.hasPermission("/scheduleDetail/delete")){
			                                <#button name="删除" icon="fa-remove" clickFun="ScheduleDetail.delete()" space="true"/>
			                            @}
			                        </div>
									<!-- 明细列表 -->
									<#table id="ScheduleDetailTable" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/bmw/medical/schedule/schedule.js"></script>
@}
