@layout("/common/_container.html"){
<div class="ibox float-e-margins">

	<form id="form" action="" method="post" enctype="multipart/form-data">
		<div class="row form-group">
			<div class="panel panel-primary">
				<div class="panel-heading" align="center">
					<label style="text-align: center; font-size: 18px;">文 件 导  入</label>
				</div>
				<div class="panel-body">
					<div class="col-sm-12">
						<input id="input-id" name="file" multiple type="file"
							data-show-preview="false" data-show-caption="true">
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="col-sm-3">
		<#SelectCon id="neighborhoodsId" name="小区" underline="true">
		<option value=""  selected>请选择</option>
		</#SelectCon>
	</div>
	<#button id="sf" name="确认上传" icon="fa-plus" clickFun="BillLeading.upload()"/>
	 <#button btnCss="info" name="下载模板" id="ensure" icon="fa-check" clickFun="BillLeading.downloadExcel()"/><font color="red">支持xlsx、xls格式，大小不超过20.0M</font>
	<div class="row btn-group-m-t">
                <div class="col-sm-10">
                	
                   
                </div>
            </div>
	<#table id="BillLeadingTable" />

</div>
<script>
</script>

<script src="${ctxPath}/static/bmw/property/bill/bill_leading.js"></script>
@}
