@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <!-- <div class="ibox-title">
                <h5>账单明细管理</h5>
            </div> -->
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                     <div class="row">
                            <div class="col-sm-2" style="width:300px;">
                                <#SelectCon id="neighborhoodsId" name="小区" underline="true">
								<option value=""  selected>请选择</option>
								</#SelectCon>
                            </div>
                            <div class="col-sm-2" style="width:300px;">
                                <#NameCon id="ownerName" name="住户"/>
                            </div>
                             <div class="col-sm-2" style="width:300px;">
                                <#NameCon id="objectNo" name="房号/车位号"/>
                            </div>
                            <div class="col-sm-2" style="width:300px;">
                                <#NameCon id="ownerPhone" name="联系电话"/>
                            </div>
                            <div class="col-sm-2" style="width:300px;">
                            <#SelectCon id="status" name="审批状态" underline="true">
								<option value=""  selected>请选择</option>
								<option value="1" >待审批</option>
								<option value="2" >审批通过</option>
								<option value="3" >已拒绝</option>
								</#SelectCon>
						    </div>
                            <div class="col-sm-2" style="float:left;width:100px;margin-left:-50px;">
                                <#button name="搜索" icon="fa-search" clickFun="Bill.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BillTableToolbar" role="group">
                            @if(shiro.hasPermission("/bill/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Bill.openAddBill()"/>
                            @}
                            @if(shiro.hasPermission("/bill/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Bill.openBillDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/bill/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Bill.delete()" space="true"/>
                            @}
                            <#button name="查看" icon="fa-plus" clickFun="Bill.view()"/> 
                        </div>
                        <#table id="BillTable" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/bmw/property/discounts/discounts.js"></script>
@}
