@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <!-- <div class="ibox-title">
                <h5>账单明细管理</h5>
            </div> -->
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                     <div class="row">
							<div class="col-sm-2">
								<#SelectCon id="neighborhoodsId" name="小区" underline="true">
								<option value=""  selected>请选择</option>
								</#SelectCon>
							</div>
							<div class="col-sm-2">
                                <#NameCon id="ownerName" name="住户"/>
                            </div>
                             <div class="col-sm-2">
                                <#NameCon id="objectNo" name="房号/车位号"/>
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="ownerPhone" name="联系电话"/>
                            </div>
                            <div class="col-sm-3" style="width:200px;float:left;">
                                <#button name="搜索" icon="fa-search" clickFun="Bill.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BillTableToolbar" role="group">
                             @if(shiro.hasPermission("/bill/changeCommit")){
                             <#button id="sf" name="收费" icon="fa-plus" clickFun="Bill.charge()"/>
                             @}
                             @if(shiro.hasPermission("/bill/discountsCommit")){
                             <#button id="sqyh" name="申请优惠" icon="fa-plus" clickFun="Bill.discounts()"/>
                             @}
                             @if(shiro.hasPermission("/bill/detail")){
                             <#button id="sf" name="查看" icon="fa-search" clickFun="Bill.view()"/>
                             @}
                             @if(shiro.hasPermission("/bill/bill_leading")){
                             <#button id="sf" name="导入" icon="fa-search" clickFun="Bill.leading()"/>
                             @}
                             @if(shiro.hasPermission("/bill/bill_export")){
                             <#button id="sf" name="导出" icon="fa-search" clickFun="Bill.exporting()"/>
                             @}
                             <a type="hidden" href="/bill/bill_export" id="dc"></a>
                        </div>
                        <#table id="BillTable" />
                        <input type="hidden" id="flag" value="${flag}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/bmw/property/bill/bill.js"></script>
@}
