@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
        <table id="BillTable"></table>
			<input   type="hidden" id="billId" value="${item.id}"> 
            <div class="row"> 
                <div class="col-sm-10 ">
                            <strong>小区 </strong>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;  
                            <input id="neighborhoodsName" value="${item.neighborhoodsName}" style="border: 0px;outline:none;cursor: pointer;"  readonly="true"/>
                           <!--  &nbsp;&nbsp;&nbsp;&nbsp;<strong>手机号</strong>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;  
                            <input id="ownerPhone" value="${item.ownerPhone}" style="border: 0px;outline:none;cursor: pointer;" readonly="true"/>
                            <br/>
                            <br/> -->
                            &nbsp;&nbsp;&nbsp;&nbsp;<strong>房号/车位号</strong>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;  
                            <input id="objectNo"  value="${item.objectNo}" style="border: 0px;outline:none;cursor: pointer;" readonly="true"/>
                </div>
            </div>
            <br/>
            <br/>
            <div style="border:solid 1px #CCC;">
			<table  id="chargeTable" style="border-collapse:   separate;   border-spacing: 10px;">
             	<tr>  
                	<th style="text-align:center;" width=100>账单编号</th>  
                	<th style="text-align:center;" width=100>费用名</th>  
                	<th style="text-align:center;" width=200>费项开始时间</th>  
                	<th style="text-align:center;" width=200>费项结束时间</th> 
               	    <th style="text-align:center;" width=100>应收合计</th>
                	<th style="text-align:center;" width=100>优惠</th>
                	<th style="text-align:center;" width=100>滞纳金</th>
                	<th style="text-align:center;" width=100>实收合计</th> 
            	</tr> 
            	<tbody >
            	<tr>  
                    <td align='center' valign='middle'> ${item.billNo} </td>   
                    <td align='center' valign='middle'>${item.standardName} </td>  
                    <td align='center' valign='middle'>${item.costStartTime,dateFormat="yyyy-MM-dd"} </td> 
                    <td align='center' valign='middle'>${item.costEndTime,dateFormat="yyyy-MM-dd"} </td>  
                    <td align='center' valign='middle'>${item.shouldTotal} </td>  
                    <td align='center' valign='middle'>${item.discountAmount}</td> 
                    <td align='center' valign='middle'>${item.overdueFine}</td> 
                    <td align='center' valign='middle'>${item.paidTotal}</td>  
                </tr>
            	
            	 </tbody>
            </table> 
            <br/>
           	<br/>
           	</div>
			<br/>
           	<br/> 
			<strong>申请理由：</strong>
			<div class="row"> 
			<div class="col-sm-6 b-r">
		         <textarea id="reason"  style="width:400px" rows="4" readonly="true">${item.reason}</textarea>
		         <br/>
           	     <br/>
			</div>
				<div class="col-sm-6">
					<strong style="width:135px !important;float:left;display:block;text-align:right;">申请优惠金额</strong>
					<#input id="discountsAmount" name="" value="${item.discountsAmount}" style="width:250px !important;margin-top:-10px;" underline="true" readonly="true"/>
					<strong style="width:135px !important;float:left;display:block;text-indent:18px;">申请滞纳金减免金额</strong>
					<#input id="latenessOffer" name="" value="${item.latenessOffer}" style="width:250px !important;margin-top:-10px;" underline="true" readonly="true"/>
				</div>
			</div>
    </div>
</div>
<script src="${ctxPath}/static/bmw/property/discounts/discounts_info.js"></script>
@}
