@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="billChargeForm">
        <table id="BillTable"></table>
			<input   type="hidden" id="ids" value="${ids}">
            <!-- <input   type="hidden" id="paidTotals"> -->
            <div class="row"> 
                <div class="col-sm-10 ">
                           	<!-- &nbsp;&nbsp;&nbsp;&nbsp;<strong>姓名 </strong>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;  <input id="ownerName" style="border: 0px;outline:none;cursor: pointer;"  readonly="true"/> -->
                            &nbsp;&nbsp;&nbsp;&nbsp;<strong>小区 </strong>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;  <input id="neighborhoodsName" style="border: 0px;outline:none;cursor: pointer;"  readonly="true"/>
                            <!-- &nbsp;&nbsp;&nbsp;&nbsp;<strong>手机号</strong>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;  <input id="ownerPhone" style="border: 0px;outline:none;cursor: pointer;" readonly="true"/>
                            <br/>
                            <br/> -->
                            &nbsp;&nbsp;&nbsp;&nbsp;<strong>房号/车位号</strong>&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;  <input id="objectNo"  style="border: 0px;outline:none;cursor: pointer;" readonly="true"/>
                </div>
            </div>
            <br/>
            <br/>
            <div style="border:solid 1px #CCC;">
			<table  id="chargeTable" style="border-collapse:   separate;   border-spacing: 10px;">
             	<tr>  
                	<th style="text-align:center;" width=100>账单编号</th>  
                	<th style="text-align:center;" width=100>费用名</th>  
                	<th style="text-align:center;" width=200>费项开始时间</th>  
                	<th style="text-align:center;" width=200>费项结束时间</th> 
               	    <th style="text-align:center;" width=100>应收合计</th>
                	<th style="text-align:center;" width=100>优惠</th>
                	<th style="text-align:center;" width=100>滞纳金</th>
                	<th style="text-align:center;" width=100>实收合计</th> 
            	</tr> 
            	<tbody id="tbody-result"> 
            </table> 
            <br/>
           	<br/>
           	<input  style="border: 0px;outline:none;cursor: pointer; float:left; width:30px" readonly="true"> 
           	<span><font style="float:left;" color="red"> 实收合计 ：</font>
            <input  style="border: 0px;outline:none;cursor: pointer; float:left; width:1035px" readonly="true"> 
           	<div id="paidTotals" style="float:left;color:#F00"></div></span>
           	<br/>
           	<br/>
           	</div>
			<br/>
           	<br/> 
			&nbsp;&nbsp;&nbsp;&nbsp;<strong>备注</strong>：<br/>
			<div class="row"> 
			<div class="col-sm-6 b-r">
			<div class="col-sm-3"> <textarea id="remark"  style="width:400px" rows="4" ></textarea></div>
			</div>
			<div class="col-sm-22">
			<div class="col-sm-3">
					<#SelectCon id="payWay" name="收款方式" >
						<option value="" selected>请选择收款方式</option>
						<option value="1">现金</option>
						<option value="2">支付宝</option>
						<option value="3">微信</option>
					</#SelectCon>
            </div>
            </div>
            </div>
    </div>
</div>
<#button name="收款" icon="fa-plus" clickFun="Bill.commit()"/>
<script src="${ctxPath}/static/bmw/property/bill/bill_charge.js"></script>
@}
