@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="costStandardForm">

            <input type="hidden" id="id" value="${item.id}">
            
            <input type="hidden" id="cost" value="${item.costId}">
            <input type="hidden" id="amountFormula" value="${item.amountFormulaId}">
            <input type="hidden" id="metering" value="${item.meteringId}">
            <input type="hidden" id="otherSetTemp" value="${item.otherSet}">
            <input type="hidden" id="defaultFee" value="${item.defaultFeeId}">
            
            
             <div class="row" style="width:900px;margin:0 auto;">
             	<div class="ibox">
                    <div class="ibox-content">      
		
                
                <div class="row">
							<div class="col-sm-6">
								<h4><span class="text-success">费项名称：</span>${item.costName}</h4>
							</div>
							<div class="col-sm-6">
								 @if(item.amountFormulaId != 2){
								<h4><span class="text-success">计量方式：</span>${item.meteringName}</h4>
								
								 @}
                            		@if(item.amountFormulaId == 2){
								<h4><span class="text-success">固定金额：</span>${item.fixedAmount}</h4>
								 @}
								
							</div>
				</div>
				
				<div class="hr-line-dashed"></div>
				
				 <div class="row">
							<div class="col-sm-6">
								<h4><span class="text-success">收费标准名称：</span>${item.standardName}</h4>
							</div>
							<div class="col-sm-6">
								<h4><span class="text-success">滞纳金设置（天）：</span>${item.lateFee}</h4>
							</div>
				</div>
				
				<div class="hr-line-dashed"></div>
				
				<div class="row">
							<div class="col-sm-6">
								<h4><span class="text-success">金额计算公式：</span>${item.amountFormulaName}</h4>
							</div>
							<div class="col-sm-6">
								<h4><span class="text-success">滞纳金收取比例（%）：</span>${item.scale}</h4>
							</div>
				</div>
				
				<div class="hr-line-dashed"></div>
				
				<div class="row">
							<div class="col-sm-6">
							 @if(item.amountFormulaId != 2){
								<h4><span class="text-success">计费单价：</span>${item.price}</h4>
							 @}
							</div>
							<div class="col-sm-6">
								<h4><span class="text-success">其他设置：当费用不足一个周期时：</span>
								@if(item.otherSet == '0'){
	                            	按周期计算
		                            @}else if(item.otherSet == '1'){
		                            	按实际天数计算
		                            @}
								</h4>
							</div>
				</div>
				
				<div class="hr-line-dashed"></div>
				<div class="row">
							<div class="col-sm-6" style="margin-top:-53px;">
								<h4><span class="text-success">收费周期（月）：</span>${item.period}</h4>
							</div>
							<div class="col-sm-6">
								<h4><span class="text-success">默认账单推送规则：</span>
								 @if(item.defaultFeeId == 0){
                            	当期收当期
                            @}else if(item.defaultFeeId == 1){
                            	当期收上期
                            @}else if(item.defaultFeeId == 2){
                            	当期收下期
                            @}
								</h4>
							</div>
				</div>
				<div class="hr-line-dashed"></div>
				
                </div></div> 
             
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="danger" name="关闭" id="cancel" icon="fa-eraser" clickFun="CostStandardInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/property/costStandard/costStandard_info.js"></script>
@}
