@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="huanxinGroupForm">

            <input type="hidden" id="id" value="">
            <input type="hidden" id="groupOwnerId" >
            <input type="hidden" id="groupOwnerName">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="groupName" name="群名称" required="true" underline="true"/>
					<!-- <#input id="groupOwnerId" name="群主ID" underline="true" /> -->
					<#select id="groupType" name="群类别" required="true" underline="true">
						<option value="" selected>请选择</option>
						<option value="1">管家群</option>
						<option value="2">业主群</option>
						<!-- <option value="3">其他</option> -->
					</#select>
					<#input id="groupDesc" name="群组描述" />
                </div>

                <div class="col-sm-6">
               <!--  groupOwnerName -->
               <!--  <#input id="groupOwner" name="群主" underline="true" readonly="true"/> -->
                <#select id="groupOwner" name="群主" required="true" underline="true">
						<option value="" selected>请选择</option>
						@for(user in userList){
						    <!-- <a href="javascript:HuanxinGroupInfoDlg.checkOwner(${user.uid});" id="${user.uid}" name="${user.uname}" >${user.uname}</a> -->
							<!-- <input id="${user.uid}" name="userIds" type="radio" value="${user.uid}">${user.uname} -->
							<option value="${user.uid}">${user.uname}</option>
							<br/>
							<br/>
						@}
					</#select>
                            <#input id="limit" required="true" name="人数限制"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="HuanxinGroupInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="HuanxinGroupInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/huanxin/huanxingroup/huanxinGroup_info.js"></script>
@}
