@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="pId" value="${item.pId}">
            <input type="hidden" id="iId" value="${item.iId}">
			<input type="hidden" id="vId" value="${item.vId}">

            <div class="row">
                <div class="col-sm-6 b-r">
                 <#input id="citySel" name="房屋号"  readonly="readonly" required="true" hidden="roomId"
					clickFun="ParkingInfoInfoDlg.showRoomSelectTree(); return false;"
					style="background-color: #ffffff !important;"></#input>        
 				<#select id="test1" name="绑定住户"   underline="true" required="true" ></#select>
 				<#select id="test2" name="绑定车辆"   underline="true" required="true" ></#select>
           	</div>
            </div>
            	<div id="roomContent" class="roomContent"
					style="display: none; position: absolute; z-index: 200;">
					<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
				</div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="danger" name="提交" id="cancel" icon="fa-eraser" clickFun="ParkingInfoInfoDlg.vehicleSubmit()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/property/parkingInfo/parkingInfo_info.js"></script>
@}