 @layout("/common/_container.html"){
<div class="container-fluid" style="padding: 0 !important;">
	 <div id="content">
		<div class="content-wrapper">
			<div class="outlet">
				<div class="row">
				<div class="w_100">
					<!-- Start .row -->
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="background-color:#1ab394;margin-left:-12px; ">
						<div class="tile red">
							<div class="tile-content">
								<div class="number">107</div>
								<h3>系统公告</h3>
							</div>
							<div class="tile-icon">
								<i class="br-cart"></i><!--图标 -->
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="background-color:#23c6c8; ">
						<div class="tile blue">
							<div class="tile-content">
								<div class="number">24</div>
								<h3>未读邮件</h3>
							</div>
							<div class="tile-icon">
								<i class="st-chat"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="background-color:#f8ac59;">
						<div class="tile green">
							<div class="tile-content">
								<div class="number">325</div>
								<h3>推送消息</h3>
							</div>
							<div class="tile-icon">
								<i class="ec-users"></i>
							</div>
						</div>	
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="background-color:#ed5565;">
						<div class="tile magenta">
							<div class="tile-content">
								<div class="number">45</div>
								<h3>我的文档/日期控件</h3>
							</div>
							<div class="tile-icon">
								<i class="ec-images"></i>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@}
