@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="userInfoForm">
			
			<input type="hidden" id="id" value="${user.id}">
			<input type="hidden" id="sexValue" value="${user.sex}">
			<input type="hidden" id="parentEIdReadOnly" value="${parentEIdReadOnly}" >
			
			<div class="row">
				<div class="col-sm-6 b-r">
					<#input id="account" name="账户" required="true" underline="true" value="${user.account}"/>

					<#select id="sex" name="性别" underline="true">
						<option value="1">男</option>
						<option value="2">女</option>
					</#select>

					<#input id="roleid" name="角色" underline="true" value="${roleName}" disabled="disabled"/>

					<#input id="email" name="邮箱" underline="true" type="email" value="${user.email}"/>
					
					  <#input id="parentEName" name="企业" underline="true" 
                            hidden="parentEId" readonly="readonly" hiddenValue="${user.parentEId}"  value="${eName}"
							style="background-color: #ffffff !important;"
							selectFlag="true" selectId="enterTreeDiv" selectTreeId="enterpriseTree" selectStyle="width:244px !important;"/>
					
				</div>
				<div class="col-sm-6">
					<div id="driverInfoContent">
						<#input id="name" name="姓名" underline="true" required="true" value="${user.name}"/>

						<#input id="birthday" name="出生日期" underline="true" type="date"
								value="${user.birthday}"
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />

						<!-- <#input id="citySel" name="部门" underline="true" readonly="readonly" hidden="deptid" hiddenValue="${user.deptid}" value="${deptName}"
								clickFun="UserInfoDlg.showDeptSelectTree(); return false;"
								style="background-color: #ffffff !important;"/> -->
								
						<#input id="positionSel" name="职位" underline="true" readonly="readonly" hidden="positionId" hiddenValue="${user.positionId}" value="${positionName}"
								clickFun="UserInfoDlg.showPositionSelectTree(); return false;"
								style="background-color: #ffffff !important;"/>
								
						<#input id="phone" name="电话" underline="true" value="${user.phone}"/>
						
					<#select id="uAttribute" name="用户类型" underline="true"  disabled="true">
						<option value="">请选择</option>
						@if(parentEIdReadOnly=="1"){
						<option 
						@if(-1==user.uAttribute){
                                selected
                        @}
						value="-1">超级管理员</option>
						<option 
						@if(1==user.uAttribute){
                                selected
                        @}
						value="1">管理员</option>
					    @}
						@if(parentEIdReadOnly!="1"){
						<option 
						@if(2==user.uAttribute){
                                selected
                        @}
						value="2">普通用户</option>
						@}
					</#select>
					</div>
				</div>
			</div>

			<!-- 这是部门选择的下拉框 -->
			<div id="menuContent" class="menuContent"
				style="display: none; position: absolute; z-index: 200;">
				<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
			</div>
			
			<!-- 这是职位选择的下拉框 -->
			<div id="positionContent" class="menuContent"
				style="display: none; position: absolute; z-index: 200;">
				<ul id="pcodeTree" class="ztree tree-box" style="width: 249px !important;"></ul>
			</div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserInfoDlg.editSubmit()"/>
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserInfoDlg.close()"/>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/system/user/user_info.js"></script>
@}
