@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="mBaseInfoForm">

            <input type="hidden" id="sId" value="">
            <input type="hidden" id="rId" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                  <#input id="citySel" name="房屋号"  readonly="readonly" required="true" hidden="roomId"
					clickFun="MBaseInfoInfoDlg.showRoomSelectTree(); return false;"
					style="background-color: #ffffff !important;"></#input>
					 <#select id="mType" name="设置类别" underline="true" required="true" />
					 <#input id="mMultiple" name="倍率" underline="true" required="true" />    
					 <#input id="mWastage" name="耗损" underline="true" required="true"/>    
					 <#input id="mCommonality" name="公摊" underline="true" required="true"/>  
					 <#input id="tableNumber" name="表号" underline="true" required="true"/>        
                  </div>
                </div>
            </div>
			<div id="roomContent" class="roomContent"
					style="display: none; position: absolute; z-index: 200;">
					<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
			</div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MBaseInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MBaseInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script src="${ctxPath}/static/bmw/property/mBaseInfo/mBaseInfo_info.js"></script>
@}