@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="mBaseInfoForm">

            <input type="hidden" id="sId" value="${item.sId}">
             <input type="hidden" id="rId" value="${item.rId}">
             <input type="hidden" id="text" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                	  <#input id="tableNumber" name="当前表号"  value="${item.tableNumber}" underline="true" disabled="disabled" required="true" /> 
                      <#input id="tNum" name="上期表数"  value="${item.tNum}" underline="true" disabled="disabled" required="true" /> 
                       <#input id="tMonth" name="当前月份" value="${item.tMonth}" underline="true" type="datetime" required="true" clickFun="laydate({istime: false, format: 'YYYY-MM-DD '})"/> 
         			  <#input id="test" name="本期表数"   underline="true" required="true"/>  
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MBaseInfoInfoDlg.dosageSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MBaseInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script src="${ctxPath}/static/bmw/property/mBaseInfo/mBaseInfo_info.js"></script>
@}
                