@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>抄表记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-3">
                                <#NameCon id="nName" name="小区名" />
                            </div>
                             <div class="col-sm-3">
                                <#NameCon id="bName" name="楼宇名" />
                            </div>
                             <div class="col-sm-3">
                                <#NameCon id="rRoomnum" name="房间号" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MRecord.search()"/>
                            </div>
                        </div>
                        <#table id="MRecordTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/bmw/property/mRecord/mRecord.js"></script>
@}
