@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="buildingInfoForm">

            <input type="hidden" id="id" value="">
            <input type="hidden" id="bCode" value="">
              <input type="hidden" id="bType">

            <div class="row">
                <div class="col-sm-6 b-r">
 			     			 <#select id="test" name="选择小区" required="true" underline="true"></#select>
              			     <#input id="bName" name="楼宇名" required="true" underline="true"/>
              			     <#input id="bUnitCount" name="单元数量" underline="true" required="true"/>
              			     <#input id="bFloors" name="楼宇层数" underline="true" required="true"/>
                </div>
                  <div class="col-sm-6">
                   <#select id="text" name="楼宇类型" underline="true" required="true"></#select> 
              			     <#input id="bOrientation" name="楼宇朝向" underline="true" required="true"/> 
              			     <#input id="remark" name="备注" underline="true"/> 
                  </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="新增" id="ensure" icon="fa-check" clickFun="BuildingInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BuildingInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/property/buildingInfo/buildingInfo_info.js"></script>
@}
                