@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="doctorCode" value="${item.medicalDoctorCode}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="departmentName" name="科室名称" value="" hidden="medicalDepartmentCode"
						readonly="readonly" 
						value="${item.departmentName}"
						clickFun="PayServiceDetailInfoDlg.showDepartmentSelectTree(); return false;"
						style="background-color: #ffffff !important;" selectFlag="true"
						selectId="pcodeTreeDiv" selectTreeId="pcodeTree"
						selectStyle="width:244px !important;" /> 
				    
                </div>

                <div class="col-sm-6">
                 <#select id="doctorName" name="医生名称">
						<option value="" selected>请选择</option>
					</#select>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PayServiceDetailInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PayServiceDetailInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/medical/payServiceDetail/payServiceDetail_info.js"></script>
@}
