@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="vId" value="${item.vId}" >
            <input type="hidden" id="iId" value="${item.iId}" >
            <input type="hidden" id="roomId" value="${item.roomId}" >

            <div class="row">
                <div class="col-sm-6 b-r">
					 <#select id="test" name="住户名称" underline="true" required="true" ></#select>
	                 <#input id="vTrademark" name="车辆品牌"  value="${item.vTrademark}" required="true" underline="true"/>
	                   <#input id="citySel" name="房屋号"  readonly="readonly" hidden="roomId" required="true"
                 value="${item.citySel}"
					 clickFun="IVehicleInfoInfoDlg.showRoomSelectTree(); return false;"
					 style="background-color: #ffffff !important;"></#input>        
                </div>
                 <div class="col-sm-6 b-r">
                     <#input id="vType" name="车辆类型"   value="${item.vType}" required="true" underline="true" />
	                 <#input id="vNumber" name="车牌号码"  underline="true" required="true" value="${item.vNumber}" />  
                 </div>
            </div>
			<div id="roomContent" class="roomContent"
					style="display: none; position: absolute; z-index: 200;">
					<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
				</div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="IVehicleInfoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="IVehicleInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/property/iVehicleInfo/iVehicleInfo_info.js"></script>
@}
                