@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
			<form action="/birthdayMsgModel/exportList" method="post">
				<input type="hidden" id="eId" value="${eId}">
				<div class="row">
					<div class="col-sm-12">
						<div class="input-group">
							<span class="input-group-addon">开始时间</span> 
							<input type="date" id="beginDate" name="beginDate" class="form-control" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">
						</div>
						<div class="input-group">
							<span class="input-group-addon">结束时间</span> 
							<input type="date" id="endDate" name="endDate" class="form-control" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">
						</div>
						<div class="input-group">
							<span class="input-group-addon">业主姓名</span> 
							<input type="text" id="ownerName" name="ownerName" class="form-control">
						</div>
					<!-- 	<#input id="beginDate" name="开始时间" underline="true" type="date" clickFun="laydate({istime: true, format: 'YYYY-MM-DD'})" />
						<#input id="endDate" name="结束时间" underline="true" type="date" clickFun="laydate({istime: true, format: 'YYYY-MM-DD'})" />
						<#input id="ownerName" name="业主姓名" underline="true" /> -->
					</div>
				</div>
				<div class="row btn-group-m-t">
					<div class="col-sm-10">
						<input type="submit" class="btn btn-primary fa-plus" value="提交"></input>
						<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="BirthdayMsgHis.close()" />
					</div>
				</div>
			</form>
		</div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/property/birthdayMsgModel/birthdayMsgHis.js"></script>
@}
