@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="costSetForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="costName" name="费项名称" underline="true"/>
                            
	                     <#select id="costTypeId" name="费项类别" underline="true">
						</#select>
                </div>

                <div class="col-sm-6">
                            
                    
					
					<#select id="relevanceId" name="关联对象" underline="true">
                       		<option value="1">房屋</option>
                       		<option value="2">车位</option>
                       		<option value="3">广告位</option>
                       		<option value="4">水表</option>
                       		<option value="5">电表</option>
					 </#select>
					  <#select id="neighborhoodsId" name="适用小区" underline="true">
					</#select>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10" style="width:200px;margin-left:10px;">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CostSetInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CostSetInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/property/costSet/costSet_info.js"></script>
@}
