@layout("/common/_container.html"){
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<input type="hidden" id="deptCode" value="${deptCode}">
			<div class="ibox-content">
				<div class="row row-lg">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-3">
								<#NameCon id="condition" name="名称" />
							</div>
							<div class="col-sm-3">
								<#button name="搜索" icon="fa-search" clickFun="Doctor.search()" />
							</div>
						</div>
						<div class="hidden-xs" id="DoctorTableToolbar" role="group">
							<#button name="确定" icon="fa-plus" clickFun="Doctor.OKclick()" />
						</div>
						<#table id="DoctorTable" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="${ctxPath}/static/bmw/medical/deptDoctorRelation/doctor.js"></script>
@}
