@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="TitleInfoForm">
         <input type="hidden"  id="doctorIds" value="${doctorIds}">
            <div class="row">
            	<div class="col-sm-6 b-r">
                 	<#select id="title" name="职称"  underline="true" >
                 	<option value="" selected>请选择</option>
                 	</#select>
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TitleInfoDlg.submitTitle()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script	src="${ctxPath}/static/bmw/medical/deptDoctorRelation/title.js"></script>
@}