<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bmw.base.module.relation.mapper.RelationMapper" >

    <resultMap id="BaseResultMap" type="com.bmw.base.module.relation.domain.Relation" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="menuid" property="menuid" jdbcType="BIGINT" />
        <result column="roleid" property="roleid" jdbcType="INTEGER" />
    </resultMap>

    <sql id="column" >
        id, menuid, roleid
    </sql>

    <sql id="column2" >
        sys_relation.id, sys_relation.menuid, sys_relation.roleid
    </sql>

    <sql id="column3" >
        sys_relation.id as id, sys_relation.menuid as menuid, sys_relation.roleid as roleid
    </sql>

    <sql id="equal" >
        <if test="id != null" >
             AND id = #{id}
        </if>
        <if test="menuid != null" >
             AND menuid = #{menuid}
        </if>
        <if test="roleid != null" >
             AND roleid = #{roleid}
        </if>
    </sql>

    <sql id="like" >
        <if test="id != null" >
             AND id like CONCAT('%',#{id},'%')
        </if>
        <if test="menuid != null" >
             AND menuid like CONCAT('%',#{menuid},'%')
        </if>
        <if test="roleid != null" >
             AND roleid like CONCAT('%',#{roleid},'%')
        </if>
    </sql>

    <insert id="add" parameterType="com.bmw.base.module.relation.domain.Relation" >
        insert into sys_relation
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="menuid != null" >
                menuid,
            </if>
            <if test="roleid != null" >
                roleid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="menuid != null" >
                #{menuid,jdbcType=BIGINT},
            </if>
            <if test="roleid != null" >
                #{roleid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Integer" >
        delete from sys_relation
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.bmw.base.module.relation.domain.Relation" >
        update sys_relation
        <set >
            <if test="menuid != null" >
                menuid = #{menuid,jdbcType=BIGINT},
            </if>
            <if test="roleid != null" >
                roleid = #{roleid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="column" />
        from sys_relation
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findLike" resultType="Relation" parameterType="Relation" >
        select 
        <include refid="column3" />
        from sys_relation
        <where >
            <include refid="like" />
        </where>
    </select>

    <select id="findList" resultType="Relation" parameterType="Relation" >
        select 
        <include refid="column3" />
        from sys_relation
        <where >
            <include refid="equal" />
        </where>
    </select>
    
    <delete id="delByMenuId" parameterType="java.lang.Integer" >
        delete from sys_relation
        where menuid = #{meanId,jdbcType=INTEGER}
    </delete>
    
    
    <delete id="delByRoleId" parameterType="java.lang.Integer" >
        delete from sys_relation
        where roleid = #{roleId,jdbcType=INTEGER}
    </delete>
    
    <select id="findByRidMid" parameterType="String" resultType="Integer">
		 select count(1) from sys_relation_app where menuid = #{menuid} and roleid = #{roleId}
	</select>
	
	 <insert id="addApp" parameterType="String" >
        insert into sys_relation_app  (roleid, menuid) VALUES (#{roleId},#{menuid})
    </insert>
    
     <select id="findListByRoleId" parameterType="Integer" resultType="Integer">
		 select menuid from sys_relation_app where roleid = #{roleId}
	</select>
	
	<delete id="deleteAppByRoleId" parameterType="String" >
        delete from sys_relation_app
        where roleid = #{roleId}
    </delete>
</mapper>