@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal">

			<input type="hidden" id="id" value="${item.id}"> 
<!-- 			<input type="hidden" id="status" value="${item.status}">
 -->			<input type="hidden" id="taskId" value="${taskId}"> 
			<div class="row">
				<div class="ibox">
					<div class="ibox-content">
						<input type="hidden" id="id" value="${item.id}">
						<h4 style="margin-left:-55px;">
							<span class="text-success" style="float:left;">公告标题</span><p style="display:block;margin-left:115px;width:180px;">${item.title}</p>
						</h4>
						<div class="row">
							<div class="col-sm-12">
								<h4 style="float:left;">
									<span class="text-success">发布范围</span>
								</h4>
								<div class="panel panel-default" style="margin-left:70px;">
									<div class="panel-body">
										@for(building in item.buildingNames){ 
										<span style="font-size: 15px;">${building+","}</span> 
										@}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<h4>
									<span class="text-success" style="float:left;margin-left:-42px;">发布时间</span><p style="display:block;margin-left:70px;width:180px;">${item.pubTime,dateFormat="yyyy-MM-dd HH:mm:ss"}</p>
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<h4>
									<span class="text-success" style="float:left;margin-left:-44px;">发起人</span><p style="display:block;margin-left:70px;width:180px;">${item.initiatorName}</p>
								</h4>
							</div>
							<div class="col-sm-6">
								<h4>
									<span class="text-success"  style="float:left;margin-left:-44px;">发起时间</span><p style="display:block;margin-left:70px;width:180px;">${item.createTime,dateFormat="yyyy-MM-dd HH:mm:ss"}</p>
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<h4>
									<span class="text-success" style="float:left;margin-left:-44px;">审核人</span></span><p style="display:block;margin-left:70px;width:180px;">${item.verifierName}</p>
								</h4>
							</div>
							<div class="col-sm-6">
								<h4>
									<span class="text-success">审核时间</span></span></span><p style="display:block;margin-left:70px;width:180px;">${item.verifyTime,dateFormat="yyyy-MM-dd HH:mm:ss"}</p>
								</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<h4>
									<span class="text-success">当前状态</span> 
									<span class="text-warning" style="margin-left:10px;"> 
										@if(item.status==1){
										 草稿
									    @}else if(item.status==2){ 
										审核中
										@}else if(item.status==3){ 
										审核通过 
										@}else if(item.status==4){ 
										已驳回
										@}else if(item.status==5){ 
										已发送 
										@}else if(item.status==6){ 
										已驳回
									    @} 
									</span>
								</h4>
							</div>
						</div>
						<div>
							<h4 style="float:left;margin-left:-10px;">
								<span class="text-success">公告正文</span>
							</h4>
							<div class="panel panel-default" style="margin-left:60px;">
								<div class="panel-body">${item.content}</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<h4 style="float:left;"><span class="text-success">审核回复</span></h4>
								<textarea id="verifyReply" class="form-control" rows="4"
									cols="2" style="margin-left:70px;width: 1308px;"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<#button btnCss="primary" name="审核通过" id="cancel" icon="fa-eraser"
						clickFun="CommunityBulletinInfoDlg.check(3)" />
                    <#button btnCss="warning" name="驳回" id="cancel"
						icon="fa-eraser" clickFun="CommunityBulletinInfoDlg.check(4)" />
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser"
						clickFun="CommunityBulletinInfoDlg.close()" />
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/property/communityBulletin/communityBulletin_info.js"></script>
@}
