@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>企业信息管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="企业名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="EnterpriseInfo.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="EnterpriseInfoTableToolbar" role="group">
                                <#button name="添加" icon="fa-plus" clickFun="EnterpriseInfo.openAddEnterpriseInfo()"/>
                                <#button name="修改" icon="fa-edit" clickFun="EnterpriseInfo.openEnterpriseInfoDetail()" space="true"/>
                                <#button name="删除" icon="fa-remove" clickFun="EnterpriseInfo.delete()" space="true"/>
                        </div>
                        <#table id="EnterpriseInfoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/bmw/property/enterpriseInfo/enterpriseInfo.js"></script>
@}
