@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="enterpriseInfoForm">

            <input type="hidden" id="eId" value="${item.eId}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="enterpriseName" name="企业名称" value="${item.enterpriseName}" underline="true"/>
                            <#input id="enterpriseAddress" name="企业地址" value="${item.enterpriseAddress}" underline="true"/>
                            <#input id="enterpriseLegalPerson" name="企业法人" value="${item.enterpriseLegalPerson}" underline="true"/>
                            <#input id="enterprisePhone" name="企业电话" value="${item.enterprisePhone}" underline="true"/>
                           	<input id="eId" name="编码" 	type="hidden"/>
                           	
                            <#input id="pcodeName" name="上级企业" underline="true" value="${parentName}"
                            hidden="parentId" readonly="readonly" hiddenValue="${item.parentId}"
							clickFun="EnterpriseInfoInfoDlg.showEnterpriseSelectTree(); return false;"
							style="background-color: #ffffff !important;"
							selectFlag="true" selectId="pcodeTreeDiv" selectTreeId="pcodeTree" selectStyle="width:280px !important;"/>
							<#input id="workScope" name="工作范围" value="${item.workScope}" underline="true"/>
                </div>
                <div class="col-sm-6">
                            <#input id="shortName" name="企业简称" value="${item.shortName}" underline="true"/>
                            <#input id="eWebsite" name="企业官网" value="${item.eWebsite}" underline="true"/>
                            <#input id="eDescription" name="企业简介" value="${item.eDescription}" underline="true"/>
                             <#select id="enterpriseType" name="企业类型" underline="true">
							    <option value="" >请选择</option>
                                <option 
                                @if(item.enterpriseType=="1"){
                                			selected
                                			@}
                                		  value="1"  >企业</option>
                                <option 
                                @if(item.enterpriseType=="2"){
                                			selected
                                			@}
                                		  value="2"  >物业</option>
							</#select> 
                            <#input id="enterpriseRules" name="规章制度" value="${item.enterpriseRules}" underline="true"/>
                           
							
                            <#avatar id="eLicense" name="营业执照" underline="true" avatarImg="${item.eLicense}" inputData="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="EnterpriseInfoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="EnterpriseInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/property/enterpriseInfo/enterpriseInfo_info.js"></script>
@}
