@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="flowNodeConfigureForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-12 b-r">
                          <!--   <#input id="id" name="主键" value="${item.id}" underline="true"/>
                            <#input id="flowConfigureId" name="流程配置id" value="${item.flowConfigureId}" underline="true"/> -->
                            
                            <label class="col-sm-3 control-label" style="width:110px !important;float:left;display:block;margin-right:10px;">节点名称</label>
                            <#input style="width:250px !important;margin-top:-10px;" class="form-control" id="nodeName" name="" value="${item.nodeName}" underline="true"/>
                            <div style="height:27px;"></div>
                            
                            <label class="col-sm-3 control-label" style="width:110px !important;float:left;display:block;margin-right:10px;">节点标识码</label>
                            <#input style="width:250px !important;margin-top:-10px;" class="form-control" id="nodeCode" name="" value="${item.nodeCode}" underline="true"/>
                            <div style="height:27px;"></div>
                            <label class="col-sm-3 control-label" style="width:110px !important;float:left;display:block;margin-right:10px;">节点标识码</label>
                            <#input style="width:250px !important;margin-top:-10px;" class="form-control" id="sort" name="" value="${item.sort}" underline="true"/>
                            
                            <div style="height:27px;"></div>
                            <label class="col-sm-3 control-label" style="width:110px !important;float:left;display:block;margin-right:10px;">是否为开始节点</label>
                             <select style="width:421px;" class="form-control" id="isStart" name="是否为开始节点" underline="true">
								<option value="1"  
								@if(1==item.isStart){
                                				selected
                                			@}
								>是</option>
								<option value="2" 
								@if(2==item.isStart){
                                				selected
                                			@}
								>否</option>
							</select>
							<div style="height:27px;"></div>
							
							<label class="col-sm-3 control-label" style="width:110px !important;float:left;display:block;margin-right:10px;">是否为结束节点</label>
                            <select style="width:421px;" class="form-control" id="isEnd" name="是否为结束节点" underline="true">
								<option value="1"  
								@if(1==item.isEnd){
                                				selected
                                			@}
								>是</option>
								<option value="2" 
								@if(2==item.isEnd){
                                				selected
                                			@}
								>否</option>
							</select>
                </div>

              <!--   <div class="col-sm-6">
                            <#input id="createManId" name="创建人id" value="${item.createManId}" underline="true"/>
                            <#input id="createMan" name="创建人" value="${item.createMan}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="editManId" name="修改人id" value="${item.editManId}" underline="true"/>
                            <#input id="editMan" name="修改人" value="${item.editMan}" underline="true"/>
                            <#input id="editTime" name="修改时间" value="${item.editTime}" underline="true"/>
                            <#input id="isDelete" name="是否删除" value="${item.isDelete}" />
                </div> -->
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FlowNodeConfigureInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FlowNodeConfigureInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/flowable/flowNodeConfigure_info.js"></script>
@}
