@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="taskForm"> 
        
         <input id="tId" type="hidden" value="${item.tId}"  />
         <input type="hidden" id="tDescribeVal" value='${item.tDescribe}'>
         <input type="hidden" id="tPrincipal1" value='${item.tPrincipal}'>
         <input type="hidden" id="tParticipationPer1" value='${item.tParticipationPer}'>
         <input type="hidden" id="tStatus" value='${item.tStatus}'>
         <input type="hidden" id="eId" value='${item.eId}'>
         <div class="row">
                <div class="col-sm-10 b-r">
                    <#input id="eName" name="物业" underline="true" readonly="true" value='${eName}'/>
					<#input id="tName" name="任务名称" required="true" value="${item.tName}"
						underline="true" />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div style="margin-left:-30px;">
						<strong style="width:50px;display:block;margin-left:65px;float:left;margin-right:-35px;">参与人</strong> 
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    <select id="tParticipationPer" data-width="353px" class="selectpicker" multiple>
						</select>
					</div>
					<br/>
					<br/>
					<#select id="tPrincipal" name="主负责人" underline="true">
							    <option value="" >请选择</option>
					</#select>
					<div class="form-group">
						
						<div class="row">
						<label class="col-sm-1 control-label" style="float:left;margin-left:16px;">任务描述</label>
							<div id="tDescribe" class="editorHeight"
								value="${item.tDescribe}" style="width:615px;margin-left:115px !important;"></div>
						</div>
					</div>
				</div>
            </div>

             <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TaskInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TaskInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/property/worktask/task_info.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/plugins/wangEditor/wangEditor.js"></script>
@}
