@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键id" value="${item.id}" underline="true"/>
                            <#input id="name" name="姓名" value="${item.name}" underline="true"/>
                            <#input id="accountName" name="账户名" value="${item.accountName}" underline="true"/>
                            <#input id="petName" name="昵称" value="${item.petName}" underline="true"/>
                            <#input id="pwd" name="密码" value="${item.pwd}" underline="true"/>
                            <#input id="company" name="分公司" value="${item.company}" underline="true"/>
                            <#input id="deptId" name="部门ID" value="${item.deptId}" underline="true"/>
                            <#input id="positionId" name="职位ID" value="${item.positionId}" underline="true"/>
                            <#input id="positionName" name="职位名称" value="${item.positionName}" />
                </div>

                <div class="col-sm-6">
                            <#input id="phone" name="电话" value="${item.phone}" underline="true"/>
                            <#input id="signature" name="个性签名" value="${item.signature}" underline="true"/>
                            <#input id="deptName" name="部门名称" value="${item.deptName}" underline="true"/>
                            <#input id="createId" name="创建人ID" value="${item.createId}" underline="true"/>
                            <#input id="createMan" name="创建人" value="${item.createMan}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="editManId" name="修改人id" value="${item.editManId}" underline="true"/>
                            <#input id="editMan" name="修改人" value="${item.editMan}" underline="true"/>
                            <#input id="editTime" name="修改时间" value="${item.editTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AccountInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AccountInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/bmw/property/account/account_info.js"></script>
@}
