@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="roomInfoForm">

            <input type="hidden" id="rId" value="${item.rId}">
            <input type="hidden" id="rCode" value="${item.rCode}" value="">
            <input type="hidden" id="bId" value="${item.bId}" value="">
            <input type="hidden" id="nId" value="${item.nId}" value="">
            <input type="hidden" id="buildingtest" value="${item.bId}" value="">
            

            <div class="row">
                <div class="col-sm-6 b-r">
                 <#select id="test1" name="所属小区" underline="true" disabled="disabled" required="true" />
                 <#select id="test" name="选择楼宇" underline="true" disabled="disabled" required="true" />
                 <#input id="rUnitnum" name="单元" value="${item.rUnitnum}"  underline="true" disabled="disabled" required="true" />
                 <#input id="rFloor" name="楼层" value="${item.rFloor}" underline="true" disabled="disabled" required="true" />
                 <#input id="rRoomnum" name="房间号" value="${item.rRoomnum}" underline="true" disabled="disabled" required="true" />
                 <#input id="rCoveredArea" name="建筑面积" value="${item.rCoveredArea}" underline="true" disabled="disabled" required="true" />
           		</div>
           		<div class="col-sm-6 b-r">
           		 <#input id="rUsearea" name="套内面积" value="${item.rUsearea}" underline="true" disabled="disabled" required="true" />
           		 <#input id="rPublicArea" name="公摊面积" value="${item.rPublicArea}" underline="true" disabled="disabled" required="true" />
                 <#select id="rRoomType" name="房屋类型"  underline="true" disabled="disabled" required="true" />
                 <#input id="rHeight" name="房屋举架" value="${item.rHeight}" underline="true" disabled="disabled" required="true" />
                 <#input id="houseType" name="户型" value="${item.houseType}" underline="true" disabled="disabled" required="true" />
                 <#select id="liveStatus" name="入住状态"  underline="true" disabled="disabled" required="true" />
           		</div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RoomInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="${ctxPath}/static/js/plugins/wangEditor/wangEditor.js"></script>
<script src="${ctxPath}/static/bmw/property/roomInfo/roomInfo_info.js"></script>
@}