@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>流程历史</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <#table id="historyTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="pid" value="${pid}">
</div>
<script src="${ctxPath}/static/bmw/flowable/history.js"></script>
@}
